{% extends "TICoreBundle::layout.html.twig" %}

{% block title %}
    Panneau d'administration - {{ parent() }}
{% endblock %}

{% block body %}

    <h1> Panneau d'administration </h1>

    <hr>

    {% block adminBody %}
    {% endblock %}

{% endblock %}